<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <h1>Users List</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.created_at }}</td>
                    <td><a href="{{ url_for('update',id=user.id ) }}">update</a></td>
                    <td><a href="{{ url_for('delete',id=user.id ) }}">delete</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('create_item') }}">Add New Item</a>
    <a href="{{ url_for('home') }}">back to home</a>
</body>
</html>
